@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #DF007F;
    --color-purple: #873AAA;
    --color-pink-border: #CE0A86;
    --color-primary-light: #FDF2F9; 
    
    --color-text-main: #171A1F;
    --color-text-secondary: #323842; 
    --color-text-muted: #565E6C;
    --color-text-light: #9095A0; 
    --color-border: #DEE1E6;
    --color-bg-placeholder: #E5E7EB;
    --color-primary-hover: #C2006F;
    
    --color-white: #ffffff;
    --color-bg-light: #F3F4F6;
    --color-star: #FFB31F; 

    --footer-bg: #0f172a; 
    --footer-text: #ffffff; 
    --footer-grey-text: #94a3b8; 
    --footer-input-bg: #1e293b; 
    --footer-input-placeholder: #64748b; 
    --footer-border-color: #334155; 
}

body {
    background-color: var(--color-white);
    font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}