@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: "Source Sans 3", sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    border-bottom: 1px solid #F3F4F6;
    background-color: #FFFFFF;
}



.nav-left {
    display: flex;
    align-items: center;
    gap: 200px; 
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 40px; 
}

.nav_links li {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav_links li a {
    display: inline-block;
    padding: 10px 16px;
    color: #565E6C;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}


.nav_links li a.active,
.nav_links li a:hover {
    color: #DF007F;
}


.nav_links li a::after {
    content: "";
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 0; 
    height: 3px;
    background: #DF007F;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.nav_links li a.active::after,
.nav_links li a:hover::after {
    width: 70%; 
}



.nav_actions {
    display: flex;
    gap: 15px;
    align-items: center;
}


.nav-btn-outline, .nav-btn-full {
    padding: 10px 20px;
    border-radius: 8px; 
    font-size: 14px;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    text-decoration: none;
}

.nav-btn-outline {
    border: 1px solid #DF007F;
    color: #DF007F;
    background: transparent;
}

.nav-btn-full {
    background: linear-gradient(90deg, #873AAA, #DF007F);
    color: white;
    border: none;
}

.nav-btn-full:hover, .nav-btn-outline:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
    box-shadow: 0 4px 10px rgba(223, 0, 127, 0.15);
}

.btn-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}


.logo {
    height: 35px; /* Ajustado para que quede proporcional a los botones */
    width: auto;
    cursor: pointer;
    transition: filter 0.3s ease;
    margin-top: -10px;
}

.logo:hover {
    filter: brightness(1.1);
}